$primary: #500000;
$secondary: #3c0000;
$baseFontSize: 14pt;
$linkColor: #337ab7;

@import "node_modules/@wvr/core/app/resources/styles/sass/main";
@import "node_modules/@wvr/core/app/resources/styles/sass/theme-base";

html {
  font-size: 1rem;
}

body {
  font-family: "Lato", sans-serif;
}

main {
  display: block;
  height: auto;
  min-height: 100%;
  margin-bottom: -50px;
}

main footer {
  display: block;
  margin-bottom: 75px;
}

.appContent {
  padding-top: 25px;
}

.error-page {
  margin: 50px 0;
}

.userMenu {
  margin-bottom: 25px;
}

.toggle-href {
  cursor: pointer;
}

.tab-pane .well { 
  min-height: 600px
}

.notesWarning {
  margin-top: 15px;
  padding: 15px;
}

.notesText {
  font-weight: bold;
}

.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
  color: #332c2c;
  background-color: #F2EDE5;
  border-color: #8F8F8C;
}

.btn-primary {
  color: #fff;
  background-color: #4A5C81;
  border-color: #2e6da4;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #1D3362;
  border-color: #204d74;
}


.btn-danger {
  color: #fff;
  background-color: #CD7674;
  border-color: #813735;
}

.btn-danger.active, .btn-danger.focus, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .open>.dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #994644;
  border-color: #ac2925;
}

.btn-success {
  color: #fff;
  background-color: #406A76;
  border-color: #4cae4c;
}

.btn-success.active, .btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover, .open>.dropdown-toggle.btn-success {
  color: #fff;
  background-color: #104554;
  border-color: #398439;
}

.btn-warning {
  color: #fff;
  background-color: #F8CF66;
  border-color: #eea236;
}

.btn-warning.active, .btn-warning.focus, .btn-warning:active, .btn-warning:focus, .btn-warning:hover, .open>.dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #F6BF33;
  border-color: #d58512;
}

@media (min-width: 1200px) {
  .metadata-pane {
    height: 800px;
    overflow-y: auto;
    position: relative;
    margin-bottom: 25px;
  }
}

.metadata-pane label {
  font-size: 24px;
  margin: 20px 0;
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}

.metadata-label {
  margin-bottom: 15px;
}

.label-add {
  color: #4A5C81;
}

.label-add:hover {
  cursor: pointer;
}

.label-remove {
  color: #CD7674;
}

.label-remove:hover {
  cursor: pointer;
}

.ng-table th.sortable.sort-desc, .ng-table th.sortable.sort-asc {
  background-color: #4A5C81;
}

.ng-table th.sortable.sort-desc, .ng-table th.sortable.sort-asc {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  z-index: 2;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  background-color: #4A5C81;
  border-color: #1D3362;
}

.vertical-justified {
  width: 100%;
  min-width: 360px;
}

.documents-container {
  min-width: 400px;
}

.users-container {
  min-width: 650px;
}

.requiredField {
  color : #500000;
}

.requiredField:before {
  content: "*";
  color: #500000;
  margin: 0px 5px 0px 5px;
}

.centerProgress {
  top: 25%;
  left: 45%;
}

.tabbed {
  margin-left: 15px;
}

.hover-pointer:hover {
  cursor: pointer;
}

.view-theme-manager .input-group {
  margin-bottom: 16px;
}

.view-theme-manager .input-group-addon label {
  min-width: 100px;
}

.bottom-spacer {
  margin-bottom: 20px;
}

.card {
  display:inline-block;
  width:31%;
  border: 1px solid #dfdfdf;
  border-radius:4px;
  margin:8px 1%;
  padding:8px;
}

.card > .title {
  font-weight: bold;
  text-align:center;
  border-bottom:1px solid #dfdfdf;
  padding-bottom: 6px;
}

.card > .content {
  margin: 12px;
}

.card .btn {
  border-color: #dfdfdf;
}

.card-inactive {
  background-color: #efefef;
}

.card-inactive .title {
  color: #b2b2b2;
}

@media only screen and (max-width : 992px) {
  .card {
    width: 48%;
  }
}

@media only screen and (max-width : 480px) {
  .card {
    width: 98%;
  }
}

/* Button presentation for Record Tester */

.get-it a {
  display:inline-block;
  background-color: #FFFFFF;
  border-color: #adadad;
  color: #333333;
  -moz-user-select: none;
  background-image: none;
  border: 1px solid #adadad;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  margin-bottom: 10px;
  margin-right:3px;
  padding: 2px 4px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.get-it a:hover {
  color:#333333;
  border-color:#adadad;
  background:#ebebeb;
  text-decoration: none;
}

.get-it {
  margin-left:5px;
  margin-right:5px;
}

.get-it .skip {
  text-decoration: line-through;
}

a.btn_recallit {
  background: #66ffff;
  color: #000000;
}

a.btn_borrowitnow {
  background: #ebd8c0;
  color: #000000;
}

a.btn_cushing {
  background: #c9c0d6;
  color: #000000;
}

a.btn_docdel {
  background: #ebd8c0;
  color: #000000;
}

a.btn_purchase {
  background: #ffffdd;
  color: #000000;
}

a.btn_inprocess {
  background: #d0ece7;
  color: #000000;
}

a.btn_illiad {
  background: #ebd8c0;
  color: #000000;
}

a.btn_recall {
  background: #66ffff;
  color: #000000;
}

a.btn_remotestorage {
  background: #ebd8c0;
  color: #000000;
}

a.btn_reserves {
  background: #ff99bb;
  color: #000000;
}

.buttons {
  display: inline-block;
}
